.lz-avatar {
  display: block;
  position: relative;
  height: 100%;

  img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: white;
  }
}
  
.lz-avatar-square {
  border-radius: 3px;
}

.lz-avatar-circle {
  border-radius: 50%;
}