@import "./Helpers.scss";

.lz-btn {
  cursor: pointer;
  border: none;
  font-weight: 400;
  border-radius: $border-radius;
}

.lz-btn-standard {
  color: $color-primary;
  background-color: transparent;
  transition: color ease-out .12s;
  padding: 0 !important;
  height: auto !important;

  &:hover {
    color: $color-primary-light;
  }
}

.lz-btn-primary {
  color: white;
  background-color: $color-primary;
  transition: background-color ease-out .12s;

  &:hover {
    background-color: $color-primary-light;
  }
}

.lz-btn-normal {
  font-size: 1rem;
  height: 32px;
  padding: 0 16px;
}

.lz-btn-big {
  font-size: 1.2rem;
  height: 35px;
  padding: 10px 21px;
}

.lz-btn-inative {
  filter: brightness(.7);
  cursor: default;
}
