@import "./Helpers.scss";

.lz-header {
  height: 50px;
  box-sizing: border-box;
  padding: 0px 20px;
  width: 100%;
  z-index: 1;
  color: white;
  background-color: $color-terciary;
  border-bottom: solid 1px $color-primary;

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
    transition: max-width ease-out .12s;
  }

  .lz-header-item {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    height: 100%;

    & > *:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.lz-header-fluent {
  & > div {
    margin: 0 auto;
    max-width: 900px;
  }
}
