$color-primary: #F2545B;
$color-primary-light: lighten($color-primary, 5%);
$color-primary-dark: darken($color-primary, 5%);
$color-secondary: #F4F4F4;
$color-secondary-light: #FFF;
$color-secondary-dark: #EAEAEA;
$color-terciary: #292F36;
$color-fg-primary: #555;
$color-fg-secondary: #666;
$border-radius: 3px;
