@import "Helpers.scss";

.lz-splitview {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;

  & > div {
    width: inherit;
    height: inherit;
    position: absolute;
  }

  & > div:last-child {
    box-sizing: border-box;
    background-color: $color-secondary;
    max-width: 90%;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: left ease-out .12s,
                right ease-out .12s;
  }
}

.lz-splitview-left {
  & > div:last-child {
    border-right: 1px solid #e1e4e8;
  }
}

.lz-splitview-right {
  & > div:last-child {
    border-left: 1px solid #e1e4e8;
  }
}

.lz-splitview-open {
  &.lz-splitview-left > div:last-child {
    left: 0 !important;
  }

  &.lz-splitview-right > div:last-child {
    right: 0 !important;
  }
}
