@import "node_modules/bootstrap/scss/bootstrap";

* {
  scrollbar-color: #CCCCCC #ECECEC;
  scrollbar-width: auto;
}

html, body, #root {
  height: 100vh;
  max-height: 100vh;
}

body {
  font-size: .9rem !important;
}

.pointer { cursor: pointer; }

// Bootstrap overwrite

.dropdown-toggle::after {
  vertical-align: .175em;
}
